.new_upload {
    width: 600px;
    height: 400px;
    background-color: #121212;
    border-radius: 20px;
    color: white;
    margin: 0px;
    font-family: arial;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new_upload_header {
    padding-top: 30px;
}

.new_upload_input {
    margin-top: 30px;
    width: 50%;
    height: 30px;
    background-color: #121212;
    border: white solid 1px;
    border-radius: 10px;
    color: white;
    text-align: center;
    transition: .3s ease;
}

.new_upload_input:placeholder-shown {
    text-align: center;
}

.new_upload_input:hover, .new_upload_input:focus, .new_upload__file_label:hover {
    width: 60%;
    height: 35px;
}

.new_upload_file_btn {
    margin-top: 30px;
    width: 50%;
    height: 30px;
    background-color: #121212;
    border: none;
    color: white;
    text-align: center;
    transition: .3s ease;
    display: none;
}

.new_upload__file_label {
    margin-top: 30px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border-radius: 10px;
    width: 47%;
    height: 30px;
    transition: .3s;
}

.new_upload_submit:focus, .new_upload_submit:hover {
    width: 50%;
    height: 30px;
}

.new_upload_submit {
    width: 30%;
    height: 25px;
    margin-top: 30px;
    background-color: #121212;
    color: white;
    border: white solid 1px;
    border-radius: 10px;
    transition: .3s;
}

.new_upload_close {
    margin-top: 3%;
    margin-left: 90%;
    background: transparent;
    border: none;
    color: red;
    width: 20px;
    height: 20px;
}

@media (max-device-width: 500px) {
    
    .new_upload {
        height: 550px;
        width: 90%;
        margin-right: 5%;
        margin-left: 5%;
    }

    .new_upload_header {
        font-size: 2.25em;
    }

    .new_upload_input {
        height: 50px;
        width: 60%;
        font-size: 2em;
    }

    .new_upload_input:hover, .new_upload_input:focus {
        height: 70px;
    }

    .new_upload__file_label {
        width: 60%;
    }

    .new_upload_submit {
        height: 50px;
        width: 60%;
        font-size: 2em;
    }

    .new_upload_submit:hover {
        height: 60px;
        width: 60%;
        font-size: 2em;
    }

    .new_upload_close {
        width: 40px;
        height: 40px;
        font-size: 2em;
    }

}